.HomePage {
  // margin: 36px;
  // width: 500px;

  display: flex;

  &__currentColor {
    margin-bottom: 8px;
    margin-right: 16px;
  }

  &__colorSpaces {
    width: 500px;
    // display: flex;
  }
}
